<div id="main-slider" class="splide" style="background-color: grey; padding: 10px; width: 50%; text-align:center; position: absolute; left: 25%;">
    <div class="splide__track" style="margin-top: 50px;">
      <ul class="splide__list">
        <li class="splide__slide">
          <img src="/images/1.png" />
        </li>
        <li class="splide__slide">
          <img src="/images/2.png" />
        </li>
        <li class="splide__slide">
          <img src="/images/3.png" />
        </li>
        <li class="splide__slide">
          <img src="/images/4.png" />
        </li>
      </ul>
    </div>
  </div>
  
  <ul id="thumbnails" class="thumbnails" style="gap: -5px;">
    <li class="thumbnail">
        <img src="/images/1.png" />
    </li>
    <li class="thumbnail">
        <img src="/images/2.png" />
    </li>
    <li class="thumbnail">
        <img src="/images/3.png" />
    </li>
    <li class="thumbnail">
        <img src="/images/4.png" />
    </li>
  </ul>