<!DOCTYPE html>
<html lang="tr" style="display:flex; justify-content: center; align-items: center;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/cdn/splide.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/cdn/splide.min.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

      * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif;
      }

      .thumbnails {
        display: flex;
        margin: 1rem auto 0;
        padding: 0;
        justify-content: center;
      }

      .thumbnail {
        width: 70px;
        height: 70px;
        overflow: hidden;
        list-style: none;
        margin: 0 0.2rem;
        cursor: pointer;
        opacity: 0.3;
      }

      .thumbnail img {
        width: 50%;
        height: auto;
      }
      .thumbnail.is-active {
        opacity: 1;
        z-index: 2;
      } 
    </style>
    <title>NAZPUF - Ana Sayfa</title>
    <script defer src="/scripts/index.js"></script>
</head>
<body style="background-color: rgb(43, 43, 43);">
    <main>
      <div>
        <h1 style="font-family: 'Poppins', sans-serif !important; font-size: 36px; text-transform: uppercase; backgorund-color: grey !important; color: #f0f0f0; text-align: center;">~ Galerimiz ~</h1>
        <%- include("./gallery.ejs") %>

      
    </main>
<script>
var splide = new Splide( '#main-slider', {
  pagination: false,
} );
splide.mount();
var thumbnails = document.getElementsByClassName( 'thumbnail' );
var current; // Keeps the current thumbnail

for ( var i = 0; i < thumbnails.length; i++ ) {
  initThumbnail( thumbnails[ i ], i );
}

// The function to initialize each thumbnail.
function initThumbnail( thumbnail, index ) {
  thumbnail.addEventListener( 'click', function () {
    slider.go( index )
  });
}

splide.on( 'move', function () {
  if ( current ) {
    current.classList.remove( 'is-active' );
  }

  // Splide#index returns the latest slide index:
  var thumbnail = thumbnails[ splide.index ];

  if ( thumbnail ) {
    thumbnail.classList.add( 'is-active' );
    current = thumbnail;
  }
} );
</script>
</body>
<html>